
<!-- jqGrid组件基础样式包-必要 -->
<link rel="stylesheet" href="/public/css/ui.jqgrid.css" />

<!-- jqGrid主题包-非必要 -->
<!-- 在jqgrid/css/css这个目录下还有其他的主题包，可以尝试更换看效果 -->
<link rel="stylesheet" href="/public/css/jquery-ui-1.8.16.custom.css" />
<script src="/public/js/jquery.min.js"></script>



<!--&lt;!&ndash; jqGrid插件包-必要 &ndash;&gt;-->
<script src="/public/js/jquery.jqGrid.src.js"></script>

<!-- jqGrid插件的多语言包-非必要 -->
<!-- 在jqgrid/js/i18n下还有其他的多语言包，可以尝试更换看效果 -->
<script type="text/javascript" src="/public/js/grid.locale-en.js"></script>

<!-- 本页面初始化用到的js包，创建jqGrid的代码就在里面 -->
<script type="text/javascript" src="/public/js/indexCourse.js"></script>

<link rel="stylesheet" href="/public/css/spop.css">
<%- include('./partials/sidebar'); %>

<div class="main-content" id="panel">
    <!-- Topnav -->
    <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar links -->
                <%- include('./partials/title'); %>
                <ul class="navbar-nav align-items-center  ml-md-auto ">
                    <li class="nav-item d-xl-none">
                        <!-- Sidenav toggler -->
                        <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item d-sm-none">
                        <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
                            <i class="ni ni-zoom-split-in"></i>
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
                    <li class="nav-item dropdown">
                        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="media align-items-center">

                                <div class="media-body  ml-2  d-none d-lg-block">
                                    <i class="ni ni-bell-55">&nbsp;</i><span class="mb-0 text-sm  font-weight-bold">  Welcome, xxx</span>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu  dropdown-menu-right ">
                            <div class="dropdown-header noti-title">
                                <h6 class="text-overflow m-0">Welcome!</h6>
                            </div>
                            <a href="#!" class="dropdown-item">
                                <i class="ni ni-settings-gear-65"></i>
                                <span>Settings</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a href="#!" class="dropdown-item">
                                <i class="ni ni-user-run"></i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header -->
    <%- include('./partials/header'); -%>


    <!-- Page content -->
    <div class="container-fluid mt--6">

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0 active">Courses list</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="btn btn-primary btn-sm" href="/admin/course/import">Import courses</a>
                                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addCourse">Add course</a>
                                        <a href="javascript:void(0)" id="delBtn" class="btn btn-danger btn-sm">Delete</a>
                                    </div>
                                    <div class="col-md-4">
                                        <input width="10px" autofocus id="keywords" class="form-control form-control-sm" type="text" placeholder="Please enter keyword" name="keywords">
                                    </div>
                                    <div class="col-md-2">
                                        <a href="javascript:void(0)" id="downloadBtn" class="btn btn-success btn-sm">Download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table id="list"></table>
                        <div id="pager"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--模态框-->
<div class="modal fade" id="addCourse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="sId" class="col-form-label">Student ID:</label>
                    <input checkValid placeholder="Please enter student ID" name="sId" type="text" class="form-control" id="sId">
                </div>
                <div hidden id="sIdTip" class="myTip alert" role="alert"></div>


                <div class="form-group">
                    <label for="sName" class="col-form-label">Student Name:</label>
                    <input checkValid placeholder="Please enter student name" type="text" name="sName" class="form-control" id="sName">
                </div>
                <div hidden id="sNameTip" class="myTip alert" role="alert"></div>


                <div class="form-group">
                    <label class="col-form-label">Student Grade:</label>
                    <select checkValid class="form-control" name="sGrade" id="sGrade">
                        <option value="pleaseSelect">Please select</option>
                        <option value="M1">M1</option>
                        <option value="M1">M2</option>
                        <option value="M1">M3</option>
                        <option value="M1">H1</option>
                        <option value="M1">H2</option>
                        <option value="M1">H3</option>
                    </select>
                </div>
                <div hidden id="sGradeTip" class="myTip alert" role="alert"></div>


                <div class="form-group">
                    <label for="sPassword" class="col-form-label">Initial Password:</label>
                    <input checkValid placeholder="Please enter student initial password" type="text" name="sPassword" class="form-control" id="sPassword">
                </div>
                <div hidden id="sPasswordTip" class="myTip alert" role="alert"></div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button disabled type="button" class="btn btn-primary" id="submitBtn">Add</button>
            </div>
        </div>
    </div>
</div>

<script src="/public/js/spop.js"></script>
<!--<script src="/public/js/addStudent.js"></script>-->
